<div id="container" data-container class="d-flex flex-column align-items-center">


  {{#if photos.length}}


  {{#each photos}}
  <div data-id="{{this.id}}" class="card my-4" style="width: 35rem;">
    <img src="{{this.img_src}}" class="card-img-top">
    <div class="card-body">
      <p class="card-text">Earth date: {{this.earth_date}}</p>
      <p class="card-text">Sol: {{this.sol}}</p>


      <p class="card-text">Camera: {{this.camera.full_name}}</p>


    
    </div>
  </div>
  {{/each}}
</div>

{{else}}

<p>Фото за эту дату нет</p>

{{/if}}

</div>
